{% extends 'IFB299app/base.html' %}
{% load staticfiles %} 

<title>{% block title %}Dashboard{% endblock %}</title>

{% block content %}
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-globe"></i> <span>You Are Here!</span></a>
                </div>

                <div class="clearfix"></div>

                <br />

                <!-- sidebar menu -->
                {% include "IFB299app/side-menu.html"%}
                <!-- sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        {% include "IFB299app/top-menu.html"%}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Dashboard</h3>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>


            <style>
                .info{
                    text-align: center;
                }

                .x_panel{
                    width: 100%;
                } 
                
                .card img{
                    width: 120px;
                    height: 300px;
                }


            </style>


            <div class="row">  
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/28_-_South_Bank_Parklands_%284741163759%29.jpg/1200px-28_-_South_Bank_Parklands_%284741163759%29.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>Southbank Parklands</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> A great place for a date night. Visit Brisbane's hottest tourist destinations...</div>
                                        <div class="desc"><b>Location:</b> Southbank, Brisbane</div>
                                        <div class="desc"><b>Price:</b> Free</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="https://cms.qut.edu.au/__data/assets/image/0007/275965/science-engineering-centre.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>QUT</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> Queensland University of Technology, the university for the real world...</div>
                                        <div class="desc"><b>Location:</b> Brisbane City</div>
                                        <div class="desc"><b>Price:</b> Visitors Free</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">  
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="http://4.bp.blogspot.com/-lcAB63qdmXw/UPJY9JU_wVI/AAAAAAAAHKs/PRjDhQEKXss/s1600/DSC_0508.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>Royal on the Park</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> One of Brisbane's finest hotels, right across from the Botanic Gardens...</div>
                                        <div class="desc"><b>Location:</b> Brisbane City</div>
                                        <div class="desc"><b>Price:</b> >$127</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="http://farm6.static.flickr.com/5051/5533639064_aa43bcc05e.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>Quanh Thanh</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> Pan-Asian dishes in casual surroundings. An enduring, no-frills spot, perfect for the whole family...</div>
                                        <div class="desc"><b>Location:</b> West End, Brisbane</div>
                                        <div class="desc"><b>Price:</b> Menu Varies</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">  
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="http://www.hboemtb.com/uploads/projects/_large_slide/Corporate-Interiors_Deloitte_Sydney-%281%29.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>Deloitte Brisbane</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> Bringing world-class capabilities and enviable local expertise as we serve multi-national, regional and local clients throughout Queensland...</div>
                                        <div class="desc"><b>Location:</b> Brisbane City</div>
                                        <div class="desc"><b>Price:</b> Visitors Free</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="https://img.grouponcdn.com/deal/3GHZqodmpZCECvKtAYjtkX/t620x376/aust_zoo_bod3-960x576.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>Australia Zoo</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> Australia Zoo is a 100-acre zoo located in the Australian state of Queensland on the Sunshine Coast near Beerwah/Glass House Mountains...</div>
                                        <div class="desc"><b>Location:</b> Beerwah, Queensland</div>
                                        <div class="desc"><b>Price:</b> $31-$53</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">  
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="http://www.visitbrisbane.com.au/~/media/brisbane-marketing/products/atdw/2017/05/08/14/18/museum-of-brisbane-57ff1cc377af1f7520ac1445-16x9.ashx?bc=black&h=405&w=720" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>Museum of Brisbane</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> The Museum of Brisbane is a museum that explores contemporary and historic Brisbane, Australia, and its people...</div>
                                        <div class="desc"><b>Location:</b> Brisbane City</div>
                                        <div class="desc"><b>Price:</b> Free</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="https://upload.wikimedia.org/wikipedia/en/2/25/Indooroopilly_Shopping_Centre_External.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>Indooroopilly Centre</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> Indooroopilly Centre is a major regional shopping centre in the western suburb of Indooroopilly in the City of Brisbane...</div>
                                        <div class="desc"><b>Location:</b> Indooroopilly, Brisbane</div>
                                        <div class="desc"><b>Price:</b> Free</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row"> 
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Reccommendations</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img src="http://floate-architecture.com.au/wp-content/uploads/2016/05/State_Library_Of_Queensland_01.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <h1>Queensland State Library</h1>
                                        </div>
                                        <div class="desc"><b>Description:</b> The main reference and research library provided to the people of the State of Queensland, Australia, by the state government...</div>
                                        <div class="desc"><b>Location:</b> South Brisbane</div>
                                        <div class="desc"><b>Price:</b> Free</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>


        </div>
    </div>
    {% endblock %}

