    {% extends 'IFB299app/base.html' %}
    {% load staticfiles %} 

    <title>{% block title %}Dashboard{% endblock %}</title>

    {% block content %}
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-globe"></i> <span>You Are Here!</span></a>
            </div>

            <div class="clearfix"></div>

            

            <!-- sidebar menu -->
            {% include "IFB299app/side-menu.html"%}
            <!-- sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        {% include "IFB299app/top-menu.html"%}
        <!-- /top navigation -->

        <!-- page content -->
        {% include "IFB299app/content.html"%}
        <!-- /page content -->

      </div>
    </div>
   {% endblock %}


