{% extends 'IFB299app/base.html' %}


<title>{% block title %}Edit Profile{% endblock %}</title>


{% block content %}


<div class="container body">

  <div class="main_container">

    <div class="col-md-3 left_col">

      <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">

          <a href="index.html" class="site_title"><i class="fa fa-globe"></i> <span>You Are Here!</span></a>

      </div>


      <div class="clearfix"></div>


      <br />


      <!-- sidebar menu -->

      {% include "IFB299app/side-menu.html"%}

      <!-- sidebar menu -->

  </div>

</div>



<!-- top navigation -->

{% include "IFB299app/top-menu.html"%}

<!-- /top navigation -->

<!-- page content -->

<div class="right_col" role="main">

    <div class="">

        <div class="page-title">

          <div class="title">

            <h3>User Profile</h3>






            <div class="clearfix"></div>


            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_panel">

                  <div class="x_title">

                    <h2>Edit Profile</h2>

                    <div class="clearfix"></div>

                </div>

                <div class="x_content">

                    <div class="col-md-12 col-sm-12 col-xs-12 profile_left">

                      <div class="profile_img">

                        <div id="crop-avatar">

                          <!-- Current avatar -->

                          {% if user.profile.image %}





                          <img class="img-responsive avatar-view" src="{{user.profile.image_url|default_if_none:'#'}}" alt="Avatar" title="Change the avatar" width="240">

                          {% endif %}

                      </div>

                  </div>



                  <form action="." method="post" enctype="multipart/form-data">

                      {% csrf_token %}

                      <p>Email Address: <br> {{form.email}} </p>

                      <p>First Name: <br>  {{form.first_name}} </p>

                      <p>Last Name: <br> {{form.last_name}} </p>

                      <p>User Type: <br> {{profile_form.user_type}} </p>

                      <p>User Interests: <br> {{profile_form.user_interests}} </p>

                      <p>Maximum Price:<br>  {{profile_form.max_price}} </p>

                      <p>Cuisine:<br>  {{profile_form.cuisine}} </p>

                      <p>Industry: <br> {{profile_form.industry}} </p>

                      <p>Please enter the industry you are looking for (e.g. Finance) </p>

                      <p>Radius: <br> {{profile_form.radius}} </p>

                      <div>

                        <button class="btn btn-primary submit" type="submit">Update Profile</button>
                    </div>

                </form>









            </div>




        </div>

    </div>

</div>


</div>

</div>   

</div>

</div>

</div>

</div>

</div>

</div>



{% endblock %}