<!DOCTYPE html>
{% load staticfiles %} <!-- New line -->
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>You Are Here</title>

    <!-- Bootstrap Core CSS -->
    <link href=" {% static "vendor/bootstrap4/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href=" {% static "vendor/bootstrap4/css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href=" {% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href=" {% static "css/stylish-portfolio.css" %}" rel="stylesheet">
    <link href=" {% static "css/stylish-portfolio.css" %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="//placehold.it/100x35?text=LOGO" /></a>
  <a class="navbar-brand" href="#">You Are Here</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="btn-toolbar">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Create Account</button>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
    </div>
    </form>
  </div>
</nav>

<!-- END Navigation -->

    <!-- Header -->
    <header class="header" id="top">
      <div class="text-vertical-center">
        <h1>You Are Here</h1>
        <h3>Where Will You Go Next?</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger">Find Out More</a>
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
      <div class="container text-center">
        <h2>Are you new to town? Looking for a place to eat or shop or visit? </h2>
        <p class="lead"> Our Website can help you. We have a first-class recommendation system that can provide you with recommendations based on the interests you have provided.</p>
      </div>
      <!-- /.container -->
    </section>

    <!-- Services -->
    <section id="services" class="services bg-primary text-white">
      <div class="container">
        <div class="row text-center">
          <div class="col-lg-10 mx-auto">
            <h2>Our Services</h2>
            <hr class="small">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>College Campuses</strong>
                  </h4>
                  <p>Find all the univeristy campuses in Brisbane as well as specific campus information.</p>
<!--                  <a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-bed fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Hotels</strong>
                  </h4>
                  <p>Its has never been easier to find somewhere nice to stay. Use our recommendation to have fun as the same time. </p>
<!--                  <a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-cutlery fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Restaurants</strong>
                  </h4>
                  <p>Never spend hours search for places to eat. You are here is here to help.</p>
                  <!--<a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-industry fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Industries</strong>
                  </h4>
                  <p>Plan your work trip before you come. It has never been easier to locate and find the Industries within a city before. </p>
                  <!--<a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
							<div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-leaf fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Parks</strong>
                  </h4>
                  <p>Looking for somewhere to relax and read a book. Kids want an awesome park to play in. You are Here is here to help! Use our fun recommendation engine and find your city oasis. </p>
<!--                  <a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
							<div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linux fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Zoos</strong>
                  </h4>
                  <p>             
									 
									             </p>
<!--                  <a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
							<div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-university fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Museums</strong>
                  </h4>
                  <p>Looking for an activity thats a little more sophisticated. Never fear 'You are Here' can provide recommendations about the Museums and exhibits in a city. </p>
<!--                  <a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
							<div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Malls</strong>
                  </h4>
                  <p>Its not a holiday without a little bit of retail therapy. Our recommendation engine can recommend all the little gems and big diamonds within Brisbane.  </p>
<!--                  <a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
							<div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Library</strong>
                  </h4>
                  <p>                         
									                
									             </p>
<!--                  <a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
							<div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-thumbs-o-up fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Plus many more exciting locations to come</strong>
                  </h4>
                  <p>Over the next year we will be adding more locations to our recommendation engine including; doctors services, public transport information, government offices and so on..  </p>
<!--                  <a href="#" class="btn btn-light">Learn More</a>-->
                </div>
              </div>
            </div>
            <!-- /.row (nested) -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>

    <!-- Callout -->
    <aside class="callout">
      <div class="text-vertical-center">
        <h1>What are you waiting for</h1>
      </div>
    </aside>



    <!-- Call to Action -->
    <aside class="call-to-action bg-primary text-white">
      <div class="container text-center">
        <h3> Create an account now!! </h3>
        <a href="/IFB299app/register" class="btn btn-lg btn-light">Create an Account</a>
        <a href="/IFB299app/login" class="btn btn-lg btn-light">Log-in</a>
				<h4>If you already have an account, Log in now!</h4>
      </div>
    </aside>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h4>
              <strong>You Are Here</strong>
            </h4>
            <p>742 Evergreen Terrace
              <br>Springfield, 90210</p>
            <ul class="list-unstyled">
              <li>
                <i class="fa fa-phone fa-fw"></i>
                (123) 444-4444</li>
              <li>
                <i class="fa fa-envelope-o fa-fw"></i>
                <a href="mailto:name@example.com">youarehere@gmail.com</a>
              </li>
            </ul>
            <br>
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter fa-fw fa-3x"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble fa-fw fa-3x"></i>
                </a>
              </li>
            </ul>
            <hr class="small">
            <p class="text-muted">Copyright &copy; You Are HERE</p>
          </div>
        </div>
      </div>
      <a id="to-top" href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src=" {% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src=" {% static "vendor/popper/popper.min.js" %}"></script>
    <script src=" {% static "vendor/bootstrap4/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src=" {% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Custom scripts for this template -->
    <script src=" {% static "js/stylish-portfolio.js" %}"></script>

  </body>

</html>
