    {% extends 'IFB299app/base.html' %}

    <title>{% block title %}Register you Interests{% endblock %}</title>

    {% block content %}
    <div>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="post">
              <h1>Interests</h1>
                <p><b>So... tell us a little about yourself!</b></p>
                <br>
              {% csrf_token %}
              {{ profile_form.as_p }}
              <div>
                <button class="btn btn-default submit" type="submit">Register</button>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link">Already a member ?
                  <a href="/IFB299app/login/" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-globe"></i> You Are Here!</h1>
                  <p>©2017 All Rights Reserved. You Are Here!</p>
                </div>
              </div>
            </form>
          </section>

        </div>
      </div>
    </div>
    {% endblock %}