    {% extends 'IFB299app/base.html' %}
    {% load staticfiles %} 

    <title>{% block title %}Liked Locations{% endblock %}</title>

    {% block content %}
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-globe"></i> <span>You Are Here!</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            {% include "IFB299app/side-menu.html"%}
            <!-- sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        {% include "IFB299app/top-menu.html"%}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Liked Locations</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div id = "map" style = "width:100%; height:300px;"></div>
                    <br>
                    <p>All locations you have liked are listed below:</p>

                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%">Location Name</th>
                          <th>Address</th>
                          <th>Type</th>
                          <th>Rating</th>
                          <th style="width: 20%">#Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for names, slugs, addresses, location_types, ratings in location_data %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>
                            <a href="/IFB299app/location/{{slugs}}/">{{names}}</a>
                          </td>
                          <td>
                            {{addresses}}
                          </td>
                          <td>
                            <div>
                              {{location_types}}
                            </div>
                          </td>
                          <td>
                            {{ratings}}
                          </td>
                          <td>
                            <a href="/IFB299app/location/{{slugs}}/" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                    <!-- end project list -->
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMoYgpM97Q7HW22iEZG3fpm9Padzjes3g&libraries=places&callback=loadMap"></script>
                    <!-- MAP & REVIEWS -->           
                    <script>
                    function loadMap() {
                      var locations = {{json_list|safe}};;

                        var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 10,
                          center: new google.maps.LatLng(-27.470125, 153.021072),
                          mapTypeId: google.maps.MapTypeId.ROADMAP
                        });

                        var infowindow = new google.maps.InfoWindow();

                        var marker, i;

                        for (i = 0; i < locations.length; i++) {  
                          marker = new google.maps.Marker({
                            position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                            map: map
                          });

                          google.maps.event.addListener(marker, 'click', (function(marker, i) {
                            return function() {
                              infowindow.setContent(locations[i][0]);
                              infowindow.open(map, marker);
                            }
                          })(marker, i));
                        }  
                    }
                  </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

      </div>
    </div>
    {% endblock %}


