    {% extends 'IFB299app/base.html' %}
    {% load staticfiles %} 

    <title>{% block title %}Location - {{name }}{% endblock %}</title>

    {% block content %}
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-globe"></i> <span>You Are Here!</span></a>
            </div>

            <div class="clearfix"></div>

            <br />

            <!-- sidebar menu -->
            {% include "IFB299app/side-menu.html"%}
            <!-- sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        {% include "IFB299app/top-menu.html"%}
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main"> 

          <div class="">

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{ name }}</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="col-md-7 col-sm-7 col-xs-12">
                      <div class="product-image">
                        <img src={{Photo}} alt="..." />
                      </div>
                      <div class="product_gallery">
                        <a>
                          <img src={{Photo2}} alt="..." />
                        </a>
                        <a>
                          <img src={{Photo3}} alt="..." />
                        </a>
                        <a>
                          <img src={{Photo4}} alt="..." />
                        </a>
                        <a>
                          <img src={{Photo5}} alt="..." />
                        </a>
                      </div>
                    </div>

                    <div class="col-md-5 col-sm-5 col-xs-12" style="border:0px solid #e5e5e5;">

                      <div class="">
                        <h2>Location Information</h2>
                        <p><i class="fa fa-address-card-o" aria-hidden="true"></i> <b>Address:</b> {{ formatted_address }}</p>
                        <p><i class="fa fa-phone" aria-hidden="true"></i> <b>Phone:</b> {{ formatted_phone_number }}</p>
                        <p><i class="fa fa-globe" aria-hidden="true"></i> <b>Website: </b><a href="{{ place.website }}">{{ website }}</a></p>
                        <p><i class="fa fa-signal" aria-hidden="true"></i> <b>Rating (from around the Web):</b>  {{ rating }} / 5</p>
                        {% if price_level %}
                        <p><i class="fa fa-usd" aria-hidden="true"></i> <b>Price Level:</b>  {{ price_level }}</p>
                        {% endif %}
                        {% if Monday %}
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> <b>Opening Hours:</b></p>
                        <div class="indent">
                          <p>{{ Monday }}</p>
                          <p>{{Tuesday}}</p>
                          <p> {{Wednesday}}</p>
                          <p> {{Thursday}}</p>
                          <p>{{Friday}}</p>
                          <p> {{Saturday}}</p>
                          <p> {{Sunday}} </p>
                        </div>
                        {% endif %}
                      </div>
                      <br />

                      <div class="">
                        <button type="button" class="btn btn-success btn-lg"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like</button>
                        <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Dislike</button>
                      </div>

                    </div>

                    

                    <div class="col-md-12 col-sm-12 col-xs-12" style="border:0px solid #e5e5e5;">
                      <div class="x_title">
                        <h2>Map</h2>
                        <div class="clearfix"></div>
                      </div>
                      <div id = "map" style = "width:100%; height:300px;"></div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Reviews</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Questions</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Events</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                          <div class="reviews">
                            <div class="review-list2">
                              <!-- reviews2 added here by JS -->
                            </div>
                          </div>
                          <div id="map">
                            <!-- map added here by JS -->
                          </div>
                          <hr/>
                          <div>
                            <p><strong>Overall rating:</strong> <span id="rating"></span></p>
                            <a class="btn btn-success pull-left" href="https://search.google.com/local/writereview?placeid={{ place_id }}" id="open-review-box" target="_blank">Leave a Review</a>
                          </div>
                        </div>


                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                          <p>Questions/Answers to be populated here by Teagan.</p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                           <div class="row">  
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Event</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
<!--                                    <div class="info">-->
                                        <div class="title">
                                            <a href="/IFB299app/location/southbank-parklands/"><h1>{{ Ename }}</h1></a>
                                        </div>
                                        <div class="desc"><b>Description:</b> {{ Edescription }}</div>
                                        <div class="desc"><b>URL:</b> {{Eurl}}</div>
                                        <div class="desc"><b>Start Date</b> {{startDate}} <b> End Date </b> {{ endDate }}</div>
<!--                                    </div>-->
<!--
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
-->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>College</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="container">
                                <div class="card hovercard">
                                    <img class="img-responsive" src="https://cms.qut.edu.au/__data/assets/image/0007/275965/science-engineering-centre.jpg" alt="" style="width: 100%;"/>
                                    <div class="info">
                                        <div class="title">
                                            <a href="/IFB299app/location/qut/"><h1>QUT</h1></a>
                                        </div>
                                        <div class="desc"><b>Description:</b> Queensland University of Technology, the university for the real world...</div>
                                        <div class="desc"><b>Location:</b> Brisbane City</div>
                                        <div class="desc"><b>Price:</b> Visitors Free</div>
                                    </div>
                                    <div class="bottom">
                                        <button class="btn btn-success" style="float:left">Like</button>
                                        <button class="btn btn-danger" style="float:right">Dislike</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                        </div>
                      </div>
                    </div>

                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMoYgpM97Q7HW22iEZG3fpm9Padzjes3g&libraries=places&callback=loadMap"></script>
                    <!-- MAP & REVIEWS -->           
                    <script>
                    function loadMap() {
                      var locationLatLng = {lat: {{ lat }}, lng: {{ lng }}};

                      var mapOptions = {
                       center:locationLatLng, 
                       zoom:11,

                     };

                     var map = new google.maps.Map(document.getElementById("map"),mapOptions);

                     var marker = new google.maps.Marker({
                      position: locationLatLng,
                      map: map,
                      title: '{{ name }}'
                    });

                     var contentString = '<div id="content">'+
                     '<div id="siteNotice">'+
                     '</div>'+
                     '<h2>{{ name }}</h2>'+
                     '<div id="bodyContent">'+
                     '<p>Insert the description from Foursquare.</p>'+
                     '</div>'+
                     '</div>';

                     var infowindow = new google.maps.InfoWindow({
                      content: contentString
                    });

                     marker.addListener('click', function() {
                      infowindow.open(map, marker);
                    });


                     var request = {
                      placeId: '{{ place_id }}'
                    };

                    service = new google.maps.places.PlacesService(map);  
                    service.getDetails(request, searchResult);    
                  }

                  function searchResult(results, status) {
                    if (status == google.maps.places.PlacesServiceStatus.OK) {
                        // show first result on map and request for details
                        var place = results[0];

                        service.getDetails({placeId: "{{ place_id }}"}, function(place, status) {
                          if (status == google.maps.places.PlacesServiceStatus.OK) {
                            let rating = document.querySelector('#rating');
                            let reviewEl2 = document.querySelector('.review-list2');

                            rating.innerHTML = place.rating;

                            for (let review of place.reviews){
                              let div = document.createElement('div');
                              div.innerHTML = 
                              `<div class="row">
                              <div class="review-block">
                              <div class="col-sm-2">
                              <img src="${review.profile_photo_url}" class="img-rounded" width="90" height="90">
                              <div class="review-block-name"><a href="${review.author_url}" target="_blank">${review.author_name}</a></div>

                              <div>Rating: ${review.rating}</div>
                              <div class="review-block-date">${review.relative_time_description}</div>

                              </div>

                              <div class="col-sm-10">
                              <div class="review-block-description">
                              ${review.text}
                              </div>
                              </div>
                              <hr/>
                              </div>
                              </div>`;

                              reviewEl2.appendChild(div);
                            }
                          }
                        });
                      }
                    }
                    </script>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

      </div>
    </div>
    {% endblock %}


