<!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a href='/IFB299app/dashboard/'><i class="fa fa-home"></i> Home</a>
                  </li>
                  <li><a href='/IFB299app/editprofile/'><i class="fa fa-user"></i> Edit Profile </a>
                  </li>
                  <li><a href='/IFB299app/liked/'><i class="fa fa-location-arrow" aria-hidden="true"></i> Liked Locations </a>
                  </li>
                  </ul>
              </div>

            </div>
            <!-- /sidebar menu -->